@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@1,400;1,700&family=Be+Vietnam+Pro:wght@500&family=DynaPuff:wght@400;500&family=Inter:wght@400;600;700&family=League+Spartan:wght@300;700&family=Lobster&family=Manrope:wght@200;300;400;700&family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:is(h1,p,h4,li,a,h2,small,span)::selection{
  color: rgb(12, 240, 232);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
  color: #fff;
}
.disp-none{
  display: none;
}
.pointer:hover .orange{
  transform: translateX(10px);
}
/*main cart*/

.item{
  display: flex;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.item p{
  text-align: center;
}
.newCartProduct{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item img{
  height: 90%;
  width: 50px;
}
.item > p {
  width: 60px;
  justify-content: center;
  background-color: rgb(230, 225, 225);
}
.cart-content{
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}


.cart-total {
  justify-content: space-between;
}
/*main cart*/
/*checkout*/
.error{
  color: red;
}
input.error-border{
  border: red solid 1px;
}
/*checkout*/

/*button styling*/
.btn-3 {
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 170px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  position: relative;
  margin-top: 30px;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
/*button styling*/

/*responsive*/
@media only  screen  and (max-width:420px) {
.mobile-icon {
  display: block;
}
.item  p{
  text-align: center;
}
.item {
  padding: 0 ;
  display: flex;
}
.item .cart-content h3{
  font-size: 15px;
}
.checkout-cart-total {
  margin-top: 30px;
}
.item-cart {
  height: 500px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
}
/*responsive*/